@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/* BANNERS */

.banner1, .banner2, .banner3{
    max-width: 100vw;
}

.banner1 img, .banner2 img{
    width: 100%;
}

.banner3{
    text-align: center;
    padding: 10px 0px 50px 0px;
}

.banner3 img{
    width: 40%;
}

/**/

.buttonsSelection{
    text-align: center;
}

.buttonsSelectionTitle{
    padding-top: 50px;
    font-size: 50px;
}

.buttonsSelection ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px; 
    padding: 50px 0px 50px 0px;
}

.buttonsSelection ul li{
    background-color: lightblue;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.buttonsSelection ul li:hover {
  transform: scale(1.1); /* Escala el elemento un 10% más grande */
  background-color: rgb(104, 185, 212);
}

